
<div id="message-style" >
  <small class="name-msn">
    <strong><%= message.user.nickname %></strong>
  </small>
    <p class="color-msn"><%= message.content %></p>
    <div class="timestamp">
      <i><%= message.created_at.strftime("%b %e at %l:%M %p") %></i>
    </div>
</div>
