.profile-container {

  p {
    color: black;

  }

  a{
    text-decoration: none;
  }

  h4 {
    font-size: 20px;
  }

  .card-columns {
    @include media-breakpoint-only(lg) {
      column-count: 4;
    }
    @include media-breakpoint-only(xl) {
      column-count: 5;
    }
  }
}
