// Specific CSS for your home-page
body {
  background-color: #F8F8F8;
  color: #fff;
  margin: 0;
}

.container h2 {
  color: #06081e;
  margin-top: 50px;
  font-size: 50px;
}

#botons {
  background-color: #06081e;
  color: #ffff00;
  font-weight: bold;

  &:hover{
    background-color: #ffff00;
    color: #06081e;
    font-weight: bold;
  }
}
