<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<div class="home_container">
  <br>
  <h1>tattoo FINDER</h1>
</div>








<%# <form id="content" data-controller="home"  data-action="click->home#busqueda">
  <input type="text" name="input" class="input" id="search-input">
  <button type="reset" class="search" id="search-btn" Onclick="busqueda();"></button>
</form> %>
