<div class="home_container">
  <div class="banner">
    <div class="container">
      <h2 id="title-banner" style="margin-top:280px;">TATTOO FINDER</h2>
      <h1>FIND THE BEST TATTOO FOR YOU!</h1>
      <div class="input-group mb-3" data-controller="home">
        <form action="services" class="d-flex justify-content-center" data-action="click->home#busqueda" >
          <input type="search" class="form-control" placeholder="City, Artist, Etc" name="query" aria-describedby="button-addon2" value="" data-home-target="search" id="busq">
          <button  action = "services" class="btn btn-success" type="submit" class="form-control" data-home-target="search"  id="botons" Onclick="setUrl();" >Search</button>
        </form>
      </div>
      <div class="d-flex align-items-end justify-content-center" style="height:350px;">
        <a href="#section1" style="color:white;"><i class="fa-solid fa-chevron-down" style="font-size:40px;"></i></a>
      </div>
    </div>
  </div>

  <section id="section1">
  <div class="banner-explore" style="margin-top:100px;">
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-12 col-lg-6">
          <h2 style="margin-top:0px;">EXPLORE THE BEST ARTISTS!</h2>
          <p class="mt-3">We are a new universe conformed by <strong>the best tattoo artists and tattoo studios</strong> with diverse specialties and wide artistic experience.</p>
          <p>We will help you to enhance and make your ideas a reality so that you feel proud to wear them on your skin.</p>
          <p class="mb-4"><strong>We want to join you in your search!</strong></p>
          <%= link_to "FIND MY STYLE", services_path, class: "find-link mt-3" %>
        </div>
        <div class="col-12 col-lg-6">
          <%= image_tag "https://res.cloudinary.com/dxy32luqr/image/upload/v1667584780/development/tatuador1_kexr4k.png", style:"object-fit: cover; width: 100%; height: 550px; border-radius: 15px;"%>
        </div>
      </div>
    </div>
  </div>
  </section>
</div>


 <!--form id="content" data-controller="home"  data-action="click->home#busqueda">
  <input type="text" name="input" class="input" id="search-input">
  <button type="reset" class="search" id="search-btn" Onclick="busqueda();"></button>
</form-->
