<div class="home_container">
  <div class="banner">
    <div class="container">
      <h2 id="title-banner">TATTOO FINDER</h2>
      <h1>FIND THE BEST TATTOO FOR YOU!</h1>
      <div class="input-group mb-3" data-controller="home">
        <form action="services" class="d-flex justify-content-center" data-action="click->home#busqueda" >
          <input action = "services" type="search" class="form-control" placeholder="City, Artist, Etc" name="query" aria-describedby="button-addon2" value="" data-home-target="search" id="busq">
          <button  action = "services" class="btn btn-success" type="submit" class="form-control" data-home-target="search"  id="botons" >Search</button>
        </form>
      </div>
    </div>
  </div>

  <div class="container">
      <h2>Explore Tattoos!</h2>
    </div>
  </div>
</div>


 <!--form id="content" data-controller="home"  data-action="click->home#busqueda">
  <input type="text" name="input" class="input" id="search-input">
  <button type="reset" class="search" id="search-btn" Onclick="busqueda();"></button>
</form-->
