.banner {
  background-image: url("https://preview.redd.it/ffgttl03ygu91.jpg?width=4500&format=pjpg&auto=webp&s=a4e1e2ad96774da0693d1b18b9617a505e6d3c97");
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 650px;
  background-size: cover;
  background-position: 0px -800px;
  display: flex;
  align-items: center;
}

.banner .tattoo-finder {
  color: white !important;
  font-size: 25px;
  margin: 0;
  margin-bottom: 5px;
  font-weight: 500;
  letter-spacing: 3px;
}

.banner p {
  color: white;
  opacity: 0.9;
  font-size: 25px;
  font-weight: 300;
  margin: 0 ;
  margin-bottom: 40px;
}

.banner h1 {
  font-family: "roboto";
  font-weight: bold;
  font-size: 58px;
  letter-spacing: 4px;
  margin-bottom: 30px;
  width: 600px;
  color: white;

}

#title-banner {
  color: white;
  font-size: 28px;
}

p {
  font-size: 19px;
  color: white;
  font-weight: 400;
  font-family: "inter";
}

.btn-success {
  background-color: #292525;
  font-weight: 600;
  color: white;
  border-radius: 0px 8px 8px 0px;
  border: none;
  background-size: cover;

  &:hover{
    background-color: #07080A;
    color: white;
  }
}


.btn-register {
  width: 550px;
  border-radius: 8px;
  background-color: #07080A;
  color: white;
  padding: 6px;

  &:hover{
    background-color: #292525;
    color: white;
  }
}

// .banner .form-control {
//   width: 500px;
//   border-radius: 8px 0px 0px 8px;
// }

// .banner .input-group {
//   width: 700px;
//   height: 40px;
// }
