
.chatroom {
  margin-top: 10px;
  height: calc(120vh - 75px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(35px);

  .icons-end{
    margin-top: 1rem;
    margin-right: 0.3rem;
    padding: 0;
    display: flex;
    justify-content: end;
    align-items: center;

  }


  h1 {
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
    //padding: 1rem;
  }


  .card-chat{
    display: flex;
    align-items: center;
  }

  .card-chat > h3{
    display: flex;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
  }


  .messages {
    margin-top: 0.5rem;
    margin-bottom: 0.4rem;
    height: 100%;
    overflow: scroll;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 1rem;
    text-decoration-color: rgba(0, 0, 0, 0.493);
    border-radius: 15px;
    background: url('backchat4.png');
    background-size: 250px 250px;
  }


  #new_message {
    //border-top: 1px solid $gray-200;
    border-top: 1px solid #cdcdcd;
    padding: 1rem;

    .form-group {
      margin-bottom: 0;
    }
  }
}

.form-control:focus {
  //background: red;
  box-shadow: none;
  box-shadow: 0 0 4px rgba(32, 33, 37, 0.5) !important;
  border-color: rgba(32, 33, 37, 0.3);
}

.form-select:focus {
  //background: red;
  box-shadow: none;
  box-shadow: 0 0 4px rgba(32, 33, 37, 0.5) !important;
  border-color: rgba(32, 33, 37, 0.3);
}

option:hover {
  /*optional rendered */
  background-color: rgb(128, 126, 0);
}

select:focus>option:active {
  background: rgba(0, 0, 0, 0.63) !important;
  color: black;
  /* selected */
}

.delete-icon{
  display: flex;
  justify-content: end;
  align-items: baseline;
  padding: 2%;
}

.delete-icon :hover{
  display: flex;
  justify-content: end;
  align-items: baseline;
  padding: 2%;
  color: rgb(54, 0, 0);
  transform: scale(1.3);
}

