.mapboxgl-popup {
  max-width: 100px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Inter";
}

.card-map{
  background-color: rgba(255, 255, 255, 0.7);
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 12px;
}

p {
  font-size: 12px;
}
