.message-row {
  margin-bottom: 10px;
  padding: 8px;
}

// To style the message itself
.sender-style, .receiver-style {
  width: 45%;
  max-width: 400px;
  border-radius: 4px;
  padding: 10px;
  min-height: 10px;
  height: 65px;
  padding: 0;
}

.sender-style {
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  box-shadow: 3px 3px 1.5px #000000;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0;
  .name-msn{
    color: rgba(79, 184, 37, 0.8);
  }
}

.receiver-style {
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  box-shadow: 3px 3px 1px #000000;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0;
  .name-msn{
    color: rgba(27, 105, 207, 0.8);
  }
}
.color-msn{
  color: black;
  font-size: 14px;
  padding: 0;
  margin: 0;
}

.timestamp{
  font-size: 11px;
  bottom: 8px;
  right: 10px;
  text-transform: uppercase;
  color: #999;
  display: flex;
  justify-content: end;
}



.message-style{
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  flex-grow: 1;

}
